.DS_Store
.idea
.idea/*
.vscode/*
*.pkl

python/tests/smoke_test/data
python/tests/smoke_test/data/*

*.pyc
./*/*.pyc
./*/*/*.pyc
./*/*/*/*.pyc
./*/*/*/*/*.pyc
./*/*/*/*/*/*.pyc

python/data
python/fedml.egg-info
python/examples/simulation/sp_fedavg_mnist_lr_example/data

*.log

wandb
./*/wandb
./*/*/wandb
./*/*/*/wandb
./*/*/*/*/wandb
./*/*/*/*/*/wandb

python/build
python/dist
python/FedML.egg-info

doc/deploy
doc/en/_build/doctrees


*.h5

# data
*.rar
*.dat
cifar-10-batches-py
*.tar.gz
*.zip
*.json
*.tar.bz2

data/cifar10/*-python
data/cifar100/*-python
data/cinic10/

data/MNIST/train
data/MNIST/test
data/shakespeare/train
data/shakespeare/test
data/stackoverflow/datasets

# android
.gradle
fedml_mobile/android/.idea
fedml_mobile/android/app/build
fedml_mobile/android/fedml-iot-sdk/build
fedml_mobile/android/build

mimiconda.sh


data/fednlp/*

*.npz
python/tests/smoke_test/simulation_sp/data/mnist/MNIST/stats.sh
python/tests/smoke_test/simulation_sp/data/mnist/MNIST/stats.py
python/tests/smoke_test/simulation_sp/data/mnist/MNIST/README.md
python/tests/smoke_test/simulation_sp/data/mnist/MNIST/download_and_unzip.sh
python/tests/smoke_test/simulation_sp/data/mnist/__MACOSX/MNIST/._train
python/tests/smoke_test/simulation_sp/data/mnist/__MACOSX/MNIST/._test
python/tests/smoke_test/simulation_sp/data/mnist/__MACOSX/MNIST/._.DS_Store
python/tests/smoke_test/simulation_mpi/data/mnist/MNIST/stats.sh
python/tests/smoke_test/simulation_mpi/data/mnist/MNIST/stats.py
python/tests/smoke_test/simulation_mpi/data/mnist/MNIST/README.md
python/tests/smoke_test/simulation_mpi/data/mnist/MNIST/download_and_unzip.sh
python/tests/smoke_test/simulation_mpi/data/mnist/__MACOSX/MNIST/._train
python/tests/smoke_test/simulation_mpi/data/mnist/__MACOSX/MNIST/._test
python/tests/smoke_test/simulation_mpi/data/mnist/__MACOSX/MNIST/._.DS_Store

app/fedgraphnn/social_networks_graph_clf/data/TUDataset/*
app/fedgraphnn/social_networks_graph_clf/data/TUDataset/collab.pickle
app/fedgraphnn/social_networks_graph_clf/x_hist.png

app/fedgraphnn/subgraph_relation_pred/data/FB15k-237/*.dict
app/fedgraphnn/subgraph_relation_pred/data/FB15k-237/*.txt
app/fedgraphnn/subgraph_relation_pred/data/wn18rr/*.dict
app/fedgraphnn/subgraph_relation_pred/data/wn18rr/*.txt
app/fedgraphnn/subgraph_relation_pred/data/YAGO3-10/*.dict
app/fedgraphnn/subgraph_relation_pred/data/YAGO3-10/*.txt

app/fedgraphnn/subgraph_link_pred/data/FB15k-237/*.dict
app/fedgraphnn/subgraph_link_pred/data/FB15k-237/*.txt
app/fedgraphnn/subgraph_link_pred/data/wn18rr/*.dict
app/fedgraphnn/subgraph_link_pred/data/wn18rr/*.txt
app/fedgraphnn/subgraph_link_pred/data/YAGO3-10/*.dict
app/fedgraphnn/subgraph_link_pred/data/YAGO3-10/*.txt

app/fedgraphnn/ego_networks_link_pred/data/ego-networks
app/fedgraphnn/ego_networks_node_clf/data/ego-networks