.DS_Store
.idea
.idea/*
.vscode/*
*.pkl

devops/geo-distributed-cluster

data/*
python/tests/smoke_test/data
python/tests/smoke_test/data/*

android/fedmlsdk/MobileNN/MNN
android/fedmlsdk/MobileNN/pytorch

*.pyc
./*/*.pyc
./*/*/*.pyc
./*/*/*/*.pyc
./*/*/*/*/*.pyc
./*/*/*/*/*/*.pyc

python/data
python/fedml.egg-info
python/examples/simulation/sp_fedavg_mnist_lr_example/data
python/examples/simulation/sp_fedsgd_cifar10_resnet20_example
python/examples/simulation/sp_fedsgd_cifar10_resnet20_example/*

*.log

wandb
./*/wandb
./*/*/wandb
./*/*/*/wandb
./*/*/*/*/wandb
./*/*/*/*/*/wandb

python/build
python/dist
python/FedML.egg-info

doc/deploy
doc/en/_build/doctrees


*.h5

# data
*.rar
*.dat
cifar-10-batches-py
*.tar.gz
*.zip
*.json
# don't ignore json file on javascript folder
!javascript/**/*.json
*.tar.bz2
*.stats

data/cifar10/*-python
data/cifar100/*-python
data/cinic10/

data/MNIST/train
data/MNIST/test
data/shakespeare/train
data/shakespeare/test
data/stackoverflow/datasets

# android
.gradle
fedml_mobile/android/.idea
fedml_mobile/android/app/build
fedml_mobile/android/fedml-iot-sdk/build
fedml_mobile/android/build

mimiconda.sh


data/fednlp/*

*.npz
python/tests/smoke_test/simulation_sp/data/mnist/MNIST/stats.sh
python/tests/smoke_test/simulation_sp/data/mnist/MNIST/stats.py
python/tests/smoke_test/simulation_sp/data/mnist/MNIST/README.md
python/tests/smoke_test/simulation_sp/data/mnist/MNIST/download_and_unzip.sh
python/tests/smoke_test/simulation_sp/data/mnist/__MACOSX/MNIST/._train
python/tests/smoke_test/simulation_sp/data/mnist/__MACOSX/MNIST/._test
python/tests/smoke_test/simulation_sp/data/mnist/__MACOSX/MNIST/._.DS_Store
python/tests/smoke_test/simulation_mpi/data/mnist/MNIST/stats.sh
python/tests/smoke_test/simulation_mpi/data/mnist/MNIST/stats.py
python/tests/smoke_test/simulation_mpi/data/mnist/MNIST/README.md
python/tests/smoke_test/simulation_mpi/data/mnist/MNIST/download_and_unzip.sh
python/tests/smoke_test/simulation_mpi/data/mnist/__MACOSX/MNIST/._train
python/tests/smoke_test/simulation_mpi/data/mnist/__MACOSX/MNIST/._test
python/tests/smoke_test/simulation_mpi/data/mnist/__MACOSX/MNIST/._.DS_Store

python/app/fednlp/text_classification/cache_dir
python/app/fednlp/seq2seq/cache_dir
python/app/fednlp/span_extraction/cache_dir

app/fedgraphnn/moleculenet_graph_clf/data/bace/*.pkl
app/fedgraphnn/moleculenet_graph_clf/data/bace/*.npy
app/fedgraphnn/moleculenet_graph_clf/data/bbbp/*.pkl
app/fedgraphnn/moleculenet_graph_clf/data/bbbp/*.npy
app/fedgraphnn/moleculenet_graph_clf/data/clintox/*.pkl
app/fedgraphnn/moleculenet_graph_clf/data/clintox/*.npy
app/fedgraphnn/moleculenet_graph_clf/data/hiv/*.pkl
app/fedgraphnn/moleculenet_graph_clf/data/hiv/*.npy
app/fedgraphnn/moleculenet_graph_clf/data/lipo/*.pkl
app/fedgraphnn/moleculenet_graph_clf/data/lipo/*.npy
app/fedgraphnn/moleculenet_graph_clf/data/muv/*.pkl
app/fedgraphnn/moleculenet_graph_clf/data/muv/*.npy
app/fedgraphnn/moleculenet_graph_clf/data/pcba/*.pkl
app/fedgraphnn/moleculenet_graph_clf/data/pcba/*.npy
app/fedgraphnn/moleculenet_graph_clf/data/sider/*.pkl
app/fedgraphnn/moleculenet_graph_clf/data/sider/*.npy
app/fedgraphnn/moleculenet_graph_clf/data/tox21/*.pkl
app/fedgraphnn/moleculenet_graph_clf/data/tox21/*.npy
app/fedgraphnn/moleculenet_graph_clf/data/toxcast/*.pkl
app/fedgraphnn/moleculenet_graph_clf/data/toxcast/*.npy

app/fedgraphnn/moleculenet_graph_reg/data/esol/*.pkl
app/fedgraphnn/moleculenet_graph_reg/data/esol/*.npy
app/fedgraphnn/moleculenet_graph_reg/data/freesolv/*.pkl
app/fedgraphnn/moleculenet_graph_reg/data/freesolv/*.npy
app/fedgraphnn/moleculenet_graph_reg/data/herg/*.pkl
app/fedgraphnn/moleculenet_graph_reg/data/herg/*.npy
app/fedgraphnn/moleculenet_graph_reg/data/lipo/*.pkl
app/fedgraphnn/moleculenet_graph_reg/data/lipo/*.npy
app/fedgraphnn/moleculenet_graph_reg/data/qm9/*.pkl
app/fedgraphnn/moleculenet_graph_reg/data/qm9/*.npy


python/app/fedgraphnn/social_networks_graph_clf/data/TUDataset/*
python/app/fedgraphnn/social_networks_graph_clf/data/TUDataset/collab.pickle
python/app/fedgraphnn/social_networks_graph_clf/x_hist.png

python/app/fedgraphnn/social_networks_graph_clf/x_hist.png
python/app/healthcare/fed_lidc_idri /*



python/app/fedgraphnn/social_networks_graph_clf/data/TUDataset/*
python/app/fedgraphnn/social_networks_graph_clf/data/TUDataset/collab.pickle
python/app/fedgraphnn/social_networks_graph_clf/x_hist.png

app/fedgraphnn/subgraph_relation_pred/data/FB15k-237/*.dict
app/fedgraphnn/subgraph_relation_pred/data/FB15k-237/*.txt
app/fedgraphnn/subgraph_relation_pred/data/wn18rr/*.dict
app/fedgraphnn/subgraph_relation_pred/data/wn18rr/*.txt
app/fedgraphnn/subgraph_relation_pred/data/YAGO3-10/*.dict
app/fedgraphnn/subgraph_relation_pred/data/YAGO3-10/*.txt

app/fedgraphnn/subgraph_link_pred/data/FB15k-237/*.dict
app/fedgraphnn/subgraph_link_pred/data/FB15k-237/*.txt
app/fedgraphnn/subgraph_link_pred/data/wn18rr/*.dict
app/fedgraphnn/subgraph_link_pred/data/wn18rr/*.txt
app/fedgraphnn/subgraph_link_pred/data/YAGO3-10/*.dict
app/fedgraphnn/subgraph_link_pred/data/YAGO3-10/*.txt

python/app/fedgraphnn/ego_networks_link_pred/data/ego-networks
python/app/fedgraphnn/ego_networks_node_clf/data/ego-networks
/devops/scripts/aws/
devops/scripts/docker
devops/scripts/kubectl
android/gradlew
android/gradlew.bat

/iot/anomaly_detection_for_cybersecurity/data/Danmini_Doorbell/
/iot/anomaly_detection_for_cybersecurity/data/Ecobee_Thermostat/
/iot/anomaly_detection_for_cybersecurity/data/Ennio_Doorbell/
/iot/anomaly_detection_for_cybersecurity/data/Philips_B120N10_Baby_Monitor/
/iot/anomaly_detection_for_cybersecurity/data/Provision_PT_737E_Security_Camera/
/iot/anomaly_detection_for_cybersecurity/data/Provision_PT_838_Security_Camera/
/iot/anomaly_detection_for_cybersecurity/data/Samsung_SNH_1011_N_Webcam/
/iot/anomaly_detection_for_cybersecurity/data/SimpleHome_XCS7_1002_WHT_Security_Camera/
/iot/anomaly_detection_for_cybersecurity/data/SimpleHome_XCS7_1003_WHT_Security_Camera/


doc/en/_build
/docker-2/
/swap/actions-runner/
*.txt
python/examples/cross_silo/light_sec_agg_example/mpi_host_file
/python/examples/cross_silo/mqtt_thetastore_fedavg_mnist_lr_example/custom_data_and_model/mlops/dist-packages/
/python/examples/cross_silo/mqtt_web3storage_fedavg_mnist_lr_example/custom_data_and_model/mlops/dist-packages/
/python/examples/cross_silo/mqtt_s3_fedavg_mnist_lr_example/custom_data_and_model/mlops/dist-packages/
/python/quick_start/parrot/fedml_data/
/python/tests/smoke_test/simulation_sp/mnist/__MACOSX/MNIST/
/python/tests/smoke_test/simulation_sp/mnist/MNIST/
/swap/
/.github/workflows/build_wheels_and_releases副本.yml
/devops/dockerfile/device-image/Dockerfile-Local
/FedML-dev-v0.7.0.iml
/python/fedml/cli/debug-cli.py
python/examples/cross_silo/mqtt_s3_fedavg_mnist_lr_example/custom_data_and_model/cache/S3_DOWNLOADED_MODEL_P6998/fedml_0_0_1_bff6ee1a-c2bb-490f-ad10-4bd6ef4a67fc
python/examples/cross_silo/mqtt_s3_fedavg_mnist_lr_example/custom_data_and_model/cache/S3_DOWNLOADED_MODEL_P7081/fedml_0_0_1_c06b5007-9e92-4ad1-a247-707374b61ad7
devops/aws/g4_gpu_nodes.cer
android/fedmlsdk/MobileNN2/.gitignore
android/fedmlsdk/MobileNN2/README.md
android/fedmlsdk/MobileNN2/README_LSA.md
android/fedmlsdk/MobileNN2/includes/FedMLClientManager.h
android/fedmlsdk/MobileNN2/includes/FedMLClientManagerSA.h
android/fedmlsdk/MobileNN2/includes/MNN/cifar10.h
android/fedmlsdk/MobileNN2/includes/MNN/mnist.h
android/fedmlsdk/MobileNN2/includes/security/LightSecAgg.h
android/fedmlsdk/MobileNN2/includes/security/LightSecAggForMNN.h
android/fedmlsdk/MobileNN2/includes/torch/cifar10.h
android/fedmlsdk/MobileNN2/includes/torch/mnist.h
android/fedmlsdk/MobileNN2/includes/train/FedMLBaseTrainer.h
android/fedmlsdk/MobileNN2/includes/train/FedMLMNNTrainer.h
android/fedmlsdk/MobileNN2/includes/train/FedMLTorchTrainer.h
android/fedmlsdk/MobileNN2/includes/train/FedMLTrainer.h
android/fedmlsdk/MobileNN2/includes/train/FedMLTrainerSA.h
android/fedmlsdk/MobileNN2/src/FedMLClientManager.cpp
android/fedmlsdk/MobileNN2/src/FedMLClientManagerSA.cpp
android/fedmlsdk/MobileNN2/src/main_FedMLClientManager.cpp
android/fedmlsdk/MobileNN2/src/main_FedMLTrainerSA.cpp
android/fedmlsdk/MobileNN2/src/main_MNN_train.cpp
android/fedmlsdk/MobileNN2/src/main_torch_train.cpp
android/fedmlsdk/MobileNN2/src/MNN/cifar10.cpp
android/fedmlsdk/MobileNN2/src/MNN/mnist.cpp
android/fedmlsdk/MobileNN2/src/security/LightSecAgg.cpp
android/fedmlsdk/MobileNN2/src/security/LightSecAggForMNN.cpp
android/fedmlsdk/MobileNN2/src/torch/cifar10.cpp
android/fedmlsdk/MobileNN2/src/torch/mnist.cpp
android/fedmlsdk/MobileNN2/src/train/FedMLBaseTrainer.cpp
android/fedmlsdk/MobileNN2/src/train/FedMLMNNTrainer.cpp
android/fedmlsdk/MobileNN2/src/train/FedMLTorchTrainer.cpp
android/fedmlsdk/MobileNN2/src/train/FedMLTrainer.cpp
android/fedmlsdk/MobileNN2/src/train/FedMLTrainerSA.cpp

devops/aws-account2
python/fedml/cli/scheduler/example_job/example_entry.py
python/fedml/cli/scheduler/example_job/config/bootstrap.sh
python/fedml/cli/scheduler/example_job/config/fedml_config.yaml
code-review.csv
code-review.csv.html
code-review.csv.md
python/job.yaml
python/app/fedllm/bootstrap.sh
python/app/fedllm/example_entry.sh
python/app/fedllm/config/fedml_config.yaml
python/fedml/computing/scheduler/scheduler_entry/fedml_job_pack/fedml_job_entry_pack.sh
python/fedml/computing/scheduler/scheduler_entry/hello_world/fedml_job_entry_pack.sh
python/fedml/computing/scheduler/scheduler_entry/serve_mnist/fedml_job_entry_pack.sh
python/tests/test_model_cli/llm_deploy/.gitattributes
python/tests/test_model_cli/llm_deploy/.gitignore
python/tests/test_model_cli/llm_deploy/__init__.py
python/tests/test_model_cli/llm_deploy/main.py
python/tests/test_model_cli/llm_deploy/main_ct2.py
python/tests/test_model_cli/llm_deploy/main_dummy.py
python/tests/test_model_cli/llm_deploy/main_langchain.py
python/tests/test_model_cli/llm_deploy/main_vllm.py
python/tests/test_model_cli/llm_deploy/README.md
python/tests/test_model_cli/llm_deploy/requirements.txt
python/tests/test_model_cli/llm_deploy/requirements_ct2.txt
python/tests/test_model_cli/llm_deploy/requirements_extra.txt
python/tests/test_model_cli/llm_deploy/requirements_vllm.txt
python/tests/test_model_cli/llm_deploy/run_local_client.py
python/tests/test_model_cli/llm_deploy/serving.yaml
python/tests/test_model_cli/llm_deploy/serving_ct2.yaml
python/tests/test_model_cli/llm_deploy/serving_dummy.yaml
python/tests/test_model_cli/llm_deploy/serving_vllm.yaml
python/tests/test_model_cli/llm_deploy/config/bootstrap.sh
python/tests/test_model_cli/llm_deploy/src/__init__.py
python/tests/test_model_cli/llm_deploy/src/base_chatbot.py
python/tests/test_model_cli/llm_deploy/src/model_builder.py
python/tests/test_model_cli/llm_deploy/src/simple_buffer.py
python/tests/test_model_cli/llm_deploy/src/typing.py
python/tests/test_model_cli/llm_deploy/src/utils.py
python/tests/test_model_cli/llm_deploy/src/constants/__init__.py
python/tests/test_model_cli/llm_deploy/src/constants/prompt_template.py
