numpy>=1.21
PyYAML
h5py
tqdm
wget
paho-mqtt
boto3
pynvml
scikit-learn
networkx
click
torch
torchvision
spacy
gensim
multiprocess
smart-open==6.3.0
nvidia-ml-py3
matplotlib
dill
pandas
wandb==0.13.2
eciespy
PyNaCl
httpx
attrs
fastapi==0.92.0
uvicorn
geventhttpclient>=1.4.4,<=2.0.9
aiohttp>=3.8.1
python-rapidjson>=0.9.1
tritonclient
redis
attrdict
ntplib
typing_extensions==4.5.0
chardet
mpi4py
tensorflow
tensorflow_datasets
tensorflow_federated
jax[cpu]
dm-haiku
optax
jaxlib
mxnet==2.0.0b1
