torch>=2.0.0
torchvision
numpy
deepspeed>=0.10.2,<=0.13.1
accelerate
transformers[torch]>=4.34.0,<=4.35.2
peft>=0.4.0,<=0.5.0
safetensors
datasets>=2.14.0
fedml>=0.8.18
evaluate
einops
sentencepiece
tensorboard
tqdm
wandb
zstandard
ninja
packaging
pyyaml
