git+https://github.com/FedML-AI/LoFT.git@develop#egg=peft
torch>=2.0.0
torchvision
numpy
deepspeed>=0.10.2
accelerate
transformers[torch]==4.34.0
optimum>=1.13.1
datasets>=2.8.0
evaluate
sentencepiece
tensorboard
tqdm
wandb
zstandard
git+https://github.com/EleutherAI/lm-evaluation-harness.git#egg=lm_eval
hurry.filesize
ninja
packaging
pyyaml
