{
    "extends": "@antfu",
    "rules": {
        "@typescript-eslint/ban-ts-comment": "off",
        "@typescript-eslint/prefer-ts-expect-error": "off",
        "no-console": "off",
        "eqeqeq": "off"
    }
}
