torch
torchvision
numpy
peft>=0.4.0
deepspeed>=0.10.2
accelerate
transformers[torch]>=4.31.0
safetensors
datasets>=2.14.0
evaluate
einops
fedml>=0.8.13
sentencepiece
tensorboard
tqdm
wandb
zstandard
ninja
packaging
pyyaml
