<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ai.fedml.iot">

    <!-- 修改WiFi状态. 发起WiFi扫描, 需要WiFi信息用于网络定位 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 通过GPS得到精确位置 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 通过网络得到粗略位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 访问网络. 某些位置信息需要从网络服务器获取 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 访问WiFi状态. 需要WiFi信息用于网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 修改WiFi状态. 发起WiFi扫描, 需要WiFi信息用于网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 访问网络状态, 检测网络的可用性. 需要网络运营商相关信息用于网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 访问网络的变化, 需要某些信息用于网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!-- 访问手机当前状态, 需要某些信息用于网络定位 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <application>
        <service
            android:name="ai.fedml.iot.service.IOTService"
            android:enabled="true"
            android:exported="true"
            android:process=":fedml-iot-sdk">
            <intent-filter>
                <action android:name="ai.fedml.iot.MQTT_SERVICE" />
            </intent-filter>
        </service>

        <receiver
            android:name="ai.fedml.iot.AutoStartReceiver"
            android:enabled="true"
            android:exported="true"
            android:process=":iovcore">

            <intent-filter android:priority="999">
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter android:priority="999">
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.MEDIA_UNMOUNTED" />
                <action android:name="android.intent.action.MEDIA_EJECT" />

                <data android:scheme="file"></data>
            </intent-filter>
            <intent-filter android:priority="999">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>

            <intent-filter android:priority="999">
                <action android:name="android.intent.action.SCREEN_OFF" />
            </intent-filter>

            <intent-filter android:priority="999">
                <action android:name="android.intent.action.SCREEN_ON" />
            </intent-filter>

            <intent-filter android:priority="999">
                <action android:name="android.intent.action.PACKAGE_ADDED" />
            </intent-filter>
            <intent-filter android:priority="999">
                <action android:name="android.intent.action.BATTERY_CHANGED" />
                <action android:name="android.intent.action.BATTERY_OKAY" />
                <action android:name="android.intent.action.BATTERY_LOW" />
            </intent-filter>
            <intent-filter android:priority="999">
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
            <intent-filter android:priority="999">
                <action android:name="com.android.rmt.ACTION_ACC_OFF" />
                <action android:name="com.android.rmt.ACTION_ACC_ON" />
                <action android:name="ai.fedml.action.TEST" />
            </intent-filter>
        </receiver>

        <service
            android:name="ai.fedml.iot.DaemonService"
            android:process=":fedml-iot-sdk" />
        <service
            android:name="ai.fedml.iot.DaemonService$DaemonInnerService"
            android:process=":fedml-iot-sdk" />
    </application>

</manifest>