.gradle
/.idea
/gradle
.cxx

cpp/build/lightsecagg/build_x86_linux
cpp/build/lightsecagg/build_arm_android_64
cpp/build/train/build_x86_linux
cpp/build/train/build_arm_android_64

*.iml
/local.properties
.DS_Store
/captures
.externalNativeBuild
./idea

cpp/build_arm_android_64
cpp/build_x86_linux

cpp/build/FedMLTrainer